*{
    margin: 0;
    padding: 0;
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

a{
    text-decoration: none;
}

textarea{
    resize: none;
}

button{
    outline: none;
}

.container{
    width: 1170px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
}

.upload>label {
    cursor: pointer;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
}
 
 #file {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

#main-image{
     display: block;
     width: 400px;
     height: 400px;
     border: 1px solid rgba(25, 27, 36, 0.1);
     border-radius: 2px;
     -o-object-fit: cover;
        object-fit: cover;
 }

 .upload{
     margin-top: 15px;
 }

 .preview{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
 }

 .title{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 15px;
 }

 .input{
    width: 682px;
    height: 40px;
    background: #F7F7F7;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    margin-top: 8px;
    padding-left: 15px;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #191B24;
 }

 .price{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 30px;
 }

 .category{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #191B24;
    margin-top: 30px;
    margin-bottom: 30px;
 }

.categories{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
}

.categories>label{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #191B24;
}

.description{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 30px;
}

textarea{
    width: 682px;
    height: 152px;
    margin-top: 5px;
    padding-left: 15px;
    padding-top: 5px;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #191B24;
}

input[type="submit"]{
    width: 247px;
    height: 56px;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background: #226CE0;
    border-radius: 2px;
    border: none;
    margin-top: 30px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

input[type="submit"]:hover{
    cursor: pointer;
    background: rgba(34, 108, 224, 0.8);
}

.cancel{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #212121;
    background: transparent;
    border: none;
    margin-left: 35px;
    cursor: pointer;
}

.additive-images>img {
    width: 90px;
    height: 90px;
    border: 1px solid rgba(25, 27, 36, 0.1);
    border-radius: 2px;
    -o-object-fit: cover;
       object-fit: cover;
}

.additive-images{
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 13px;
}

.additive-images>img:hover{
    cursor: pointer;
    opacity: 0.5
}

.main-image{
    position: relative;
}

.options{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 30px;
    height: 30px;
    background: rgba(25, 27, 36, 0.5);
}

.options:hover{
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 50px;
    right: 15px;
    background-color: #fff;
    z-index: 1;
    width: 240px;
    height: 64px;
    border-radius: 2px;
    padding-left: 15px;
    padding-top: 15px;
}

.set{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}

.set:hover{
    cursor: pointer;
}

.delete{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #D33123;
    margin-top: 10px;
    cursor: pointer;
    display: block;
}

.delete:hover{
    cursor: pointer;
}

.position{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.product-image{
    margin-top: 100px;
}