*{
    margin: 0;
    padding: 0;
}

:focus{
    outline: none;
}

body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container{
    width: 800px;
    height: 573px;
    background: rgba(38, 36, 49, 0.03);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.title{
    margin-top: 40px;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color :#191B24;
}

.data{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #191B24;
    opacity: 0.5;
    margin-top: 15px;
}

.log-in-data{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #191B24;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
}

.email-label{
    margin-top: 65px;
}

::-webkit-input-placeholder{
    font-family:" Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #191B24;
    opacity: 0.5;
}

::-moz-placeholder{
    font-family:" Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #191B24;
    opacity: 0.5;
}

:-ms-input-placeholder{
    font-family:" Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #191B24;
    opacity: 0.5;
}

::-ms-input-placeholder{
    font-family:" Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #191B24;
    opacity: 0.5;
}

::placeholder{
    font-family:" Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #191B24;
    opacity: 0.5;
}

input[type="email"],input[type="password"]{
    width: 450px;
    height: 60px;
    padding-left: 15px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2px;
    font-family:" Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #191B24;
    margin-top: 8px;
}

input[type="submit"]{
    width: 450px;
    height: 60px;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    background: rgba(34, 108, 224, 1);
    border-radius: 2px;
    border: none;
    margin-top: 60px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

input[type="submit"]:hover{
    background: rgba(34, 108, 224, 0.8);
    cursor: pointer;
}


form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.error{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    color: red;
}