*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 1170px;
    margin: 0 auto;
    margin-top: 200px;
}

.functionality{
    display: flex;
    align-items: center;
}

.add{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 203px;
    height: 43px;
    background: #226CE0;
    border-radius: 2px;
    border:none;
    cursor: pointer;
}

.category{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #191B24;
    margin-left: 30px;
}

select{
    width: 200px;
    height: 37px;
background: #FFFFFF;
border: 1px solid #E6E6E6;
border-radius: 2px;
}

select>option{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #191B24;
    opacity: 0.5;
    text-transform:capitalize;
}

.find{
    width: 225px;
    height: 30px;
    padding-left: 30px;
    opacity: 0.5;
    border: none;
    border-bottom: 1px solid #191B24;
}

.find::placeholder{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #191B24;
    opacity: 0.5;
}

.find-container{
    position: relative;
    margin-left: 30px;
}

.find-container>img{
    position: absolute;
    left: 2px;
    top: 3px;
}

.sort{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 32px;
}

.sort-category{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #191B24;
    display: flex;
    align-items: center;
}

.logout{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-left: 250px;
    display: flex;
    align-items: center;
}

.products-grid{
    margin-top: 40px;
}

.product{
    border-bottom: 1px solid #191B24;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.product-img-name{
    display: flex;
    align-items: center;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #191B24;
    word-wrap: break-word;
}

.product-img-name>img{
    width: 64px;
    height: 64px;
}

.product-img-name>div{
    margin-left: 15px;
    width: 100px;
}

.product-price, .product-views{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #191B24;
}

.product-category{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #191B24;
    text-transform: capitalize;
}

.product-option{
    display: flex;
    gap: 15px;
}

.edit, .delete{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #191B24;
    text-decoration: none;
}
