.contact-us-overlay{
    padding-top: 0!important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index:998;
    display: none;
}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background: #191B24;
    z-index: 998;
    opacity: 0.7;
    display: none;
}

.x{
    width: 40px;
    height: 40px;
    background: url("../img/x.svg") no-repeat;
    position: fixed;
    right: -50px;
    top: 0;
    z-index:999;
    display: none;
    cursor: pointer;
}

.contact-bg{
    background-color: white;
}

@media screen and (max-width: 1350px){
    .x{
        right: 0;
        background: url("../img/x-black.svg") no-repeat;
        width: 60px;
        height: 60px;
        background-size: contain;
    }  
}

@media screen and (max-width: 1100px){
    .x{
        right: 35px;
        background: url("../img/x-black.svg") no-repeat;
        width: 60px;
        height: 60px;
        background-size: contain;
    }

    .contact-us-overlay{
        height: 100%;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 560px){
    .x{
        right: 15px;
        background: url("../img/x-black.svg") no-repeat;
        width: 45px;
        height: 45px;
        background-size: contain;
    }
}